<ion-header>
  <ion-toolbar>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="sendForm()" [disabled]="!contactForm.valid || screenInSending">
      <ion-icon *ngIf="!screenInSending"  name="send-outline"></ion-icon>
      <ion-spinner *ngIf="screenInSending" name="lines-small"></ion-spinner>
    </ion-fab-button>
  </ion-fab>

  <p>Aqui você tem um canal direto de comunicação com a equipe que administra a plataforma e as atividades. O objetivo é prover um relacionamento democrático com os alunos e responsáveis.</p>
  <p>Usando o formulário abaixo você envia sua manifestação que poderá ser respondida em até 48h.</p>

    <div class="login-form" [formGroup]="contactForm">
      <ion-item>
        <ion-label position="floating">Que tipo de manifestão é essa?</ion-label>
        <ion-select cancelText="" okText="Selecionar" formControlName="tipo">
          <ion-select-option value="Dúvida">Dúvida</ion-select-option>
          <ion-select-option value="Reclamação">Reclamação</ion-select-option>
          <ion-select-option value="Solcitação">Solcitação</ion-select-option>
          <ion-select-option value="Sugestão">Sugestão</ion-select-option>
          <ion-select-option value="Elogio">Elogio</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Qual seu telefone?</ion-label>
        <ion-input type="text" formControlName="telefone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">O que você deseja manifestar?</ion-label>
        <ion-textarea formControlName="conteudo" auto-grow="true" rows="5"></ion-textarea>
      </ion-item>
    </div>
</ion-content>
