<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="content">
    <img src="{{user.image}}">
    <span>{{user.uid}}</span>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <p>{{user.name}}</p>
    </ion-item>

    <ion-item>
      <ion-label position="floating">E-Mail</ion-label>
      <p>{{user.email}}</p>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Unidade Escolar</ion-label>
      <p>{{user.escola}}</p>
    </ion-item>
  </div>

  <ng-container *ngIf="isAdmin">
    <ion-button color="primary"  (click)="generateList()">Gerar Lista</ion-button>
    <div style="-webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; user-select: text;">
      <div *ngFor="let item of listItems | async">
        {{item.uid}}, {{item.name}}, {{item.escola}}, {{item.email}}
      </div><br/>
    </div>
  </ng-container>

</ion-content>
