<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showOptions()">
        <ion-icon name="ellipsis-vertical" (click)="showOptions()"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <img src="{{user.image}}">
  <span>{{user.uid}}</span>
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <p>{{user.name}}</p>
  </ion-item>

  <ion-item>
    <ion-label position="floating">E-Mail</ion-label>
    <p>{{user.email}}</p>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Unidade Escolar</ion-label>
    <p>{{user.escola}}</p>
  </ion-item>
</ion-content>
