<ion-header>
  <ion-toolbar>
    <ion-title>Início</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showOptions()">
        <ion-icon name="ellipsis-vertical" (click)="showOptions()"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content">
    <h4>Queridos alunos e familiares</h4>

  <p>Dois mil e vinte começou de maneira bastante atípica. Mal iniciamos o ano letivo e tivemos que interrompê-lo por tempo indeterminado, a disseminação do Coronavírus parou o mundo.</p>

  <p>Diante de tal situação, muitos questionamentos surgem em nossa cabeça, de fato, as respostas certas ninguém tem. No entanto, não podemos ficar parados e foi justamente pensando nisso que a Secretaria Municipal de Educação de Rio Claro-RJ criou, em conjunto com diferentes profissionais da rede municipal, esta plataforma recheada com atividades, sugestões, links e dicas alinhados ao planejamento do 1° bimestre com o intuito de minimizar os danos causados pela suspensão das aulas.</p>

  <p>Alunos e familiares, não se sintam desamparados, enfrentaremos esse problema juntos. Tenham a certeza de que não estamos medindo esforços para buscar as melhores estratégias possíveis e pensando com muito cuidado como atuaremos após o retorno das aulas.</p>

  <p>O momento é delicado e exige o comprometimento de todos para que seja superado da melhor forma possível. Hoje, mais do que nunca, escola e família precisam dar as mãos para que  nossas crianças e adolescentes não sintam tanto o impacto negativo que tudo isso pode trazer. Precisamos auxiliá-los para  que consigam enxergar novas possibilidades, ainda que dentro de casa.</p>

  <p>Aproveitem o tempo juntos para estudar sim, mas também para ler o livro preferido, ouvir música, fazer a receita da avó, tomar banho de mangueira, cultivar uma horta, contar uma piada, dançar na chuva... Certamente, sairemos dessa pandemia transformados, muitas serão as lições aprendidas com a escola da vida e para concluirmos este texto, citaremos o grande educador Paulo Freire “Não há saber mais ou saber menos: há saberes diferentes!”</p>

  <p class="lastParagraphs firstLastParagraphs">Com carinho!</p>
  <p class="lastParagraphs">Ana Paula e</p>
  <small>Equipe da Secretaria Municipal de Educação de Rio Claro</small>
  </div>
</ion-content>
