:host {
  ion-content {
    --background: var(--ion-custom-white) !important;
    --color: var(--ion-custom-blue) !important;

    p{
      text-align: left;
      font-size: 14px;
      line-height: 22px;

      &:first-child{
        margin-top: 0px;
      }

      &.lastParagraphs{
        text-align: right;
        font-weight: 700;
        line-height: 14px;
        margin: 2px 0px;
      }

      &.firstLastParagraphs{
        margin-top: 30px;
      }
    }

    small{
      display: block;
      text-align: right;
      margin-left: 35%;
    }
  }
}

