<ion-content class="ion-padding">
  <div class="login">
    <div>
      <img src="assets/images/logo-pmrc.png" class="auth-logo">
      <img src="assets/images/secretaria-educacao.svg" class="auth-text" />
    </div>

    <div class="login-form" [formGroup]="form">
      <ion-item>
        <ion-label position="floating">E-Mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-button class="login-default" ion-item expand="block" (click)="signInWithPassword()">
        Entrar
      </ion-button>
      <ion-button class="login-google" ion-item expand="block" (click)="signInWithGoogle()">
        Login com conta Google
      </ion-button>
    </div>

    <div class="login-footer">
      <ion-button (click)="goToSignup()">
        Ainda não é cadastrado?
      </ion-button>
    </div>
  </div>
</ion-content>
