:host {
  ion-slides {
    height: 100%;
    --bullet-background-active: var(--ion-custom-blue);

    ion-slide{
      display: block;
    }

    h2 {
      margin: 5px 0px;
      color: var(--ion-custom-blue);
      font-weight: 900;
    }

    img {
      max-height: 50%;
      max-width: 80%;
      margin: 10px 0;
      pointer-events: none;
    }

    p {
      padding: 10px;
      margin: 0px;
      font-size: 14px;
      line-height: 1.5;
      color: var(--ion-color-step-600, #60646b);
      text-align: center;
    }

    ul{
      color: var(--ion-color-step-600, #60646b);
      font-size: 14px;
      text-align: left;
      margin-left: 30px;
      padding: 0px;

      li{
        padding: 3px 0px;
      }
    }
  }
}
