<ion-content [fullscreen]="true" >
  <div class="home-header">
    <div class="content">
      <h1>Seja bem vindo</h1>
      <h2>{{user.name}}</h2>
    </div>
  </div>
  <div class="home-content">
    <div class="content">
      <div class="grid">
        <ng-container *ngFor="let prefix of listPrefix">
          <div class="ion-activatable" (click)="goToPrefix(prefix.name)">
            <ion-icon name="folder-open"></ion-icon>{{prefix.name}}
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </ng-container>
        <div class="ion-activatable" (click)="goToParque()">
          <ion-icon name="trail-sign"></ion-icon>Visite São João Marcos
          <ion-ripple-effect></ion-ripple-effect>
        </div>

      </div>
      <div class="erroMessage" *ngIf="loadStatus == false" >
        <p>Estamos enfretando problemas técnicos no momento.</p>
        <p>Tente novamente mais tarde.</p>
      </div>
      <div class="erroMessage" *ngIf="loadStatus == false" >
        <p>Estamos enfretando problemas técnicos no momento.</p>
        <p>Tente novamente mais tarde.</p>
      </div>
      <div class="erroMessage" *ngIf="loadStatus == false" >
        <p>Estamos enfretando problemas técnicos no momento.</p>
        <p>Tente novamente mais tarde.</p>
      </div>
    </div>
  </div>
</ion-content>
