<ion-header>
  <ion-toolbar>
    <ion-title>Tour Virtual - São João Marcos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content">
    <ion-card href="https://www.youtube.com/watch?v=O5Cb1ryrXAY" target="_blank">
      <iframe width="100%" height="180" src="https://www.youtube.com/embed/O5Cb1ryrXAY" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <ion-card-header>
        <ion-card-title>Lançamento</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Vídeo de lançamento do nosso Tour Turismo Virtual. Que tal passear pelo Parque sem sair de casa? Você é nosso convidado para conhecer ou revisitar São João Marcos embarcando no Tour Turismo Virtual.
      </ion-card-content>
    </ion-card>

    <ion-card  href="https://www.youtube.com/watch?v=sTqqh3OvrHE" target="_blank">
      <iframe width="100%" height="180" src="https://www.youtube.com/embed/sTqqh3OvrHE" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <ion-card-header>
        <ion-card-title>Ep. 01 - Estrada Imperial</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        O primeiro trecho do nosso Tour Turismo Virtual é dedicado à Estrada Imperial, com a apresentação do turismólogo e mediador do Parque Wagner Zacharias.
      </ion-card-content>
    </ion-card>

    <ion-card  href="https://www.youtube.com/watch?v=kMBxw5z9HkQ" target="_blank">
      <iframe width="100%" height="180" src="https://www.youtube.com/embed/kMBxw5z9HkQ" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <ion-card-header>
        <ion-card-title>Ep. 02 - Mata Atlântica</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Ar puro, vegetação exuberante, fauna rica e preservada. No segundo episódio, passeamos pela Mata Atlântica. A apresentação é do biólogo e mediador do Parque Rian Barreto.
      </ion-card-content>
    </ion-card>

    <ion-card  href="https://www.youtube.com/watch?v=A2Kzbo95ij4" target="_blank">
      <iframe width="100%" height="180" src="https://www.youtube.com/embed/A2Kzbo95ij4" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <ion-card-header>
        <ion-card-title>Ep. 03 - Sede do Parque</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Dê uma voltinha pela sede do Parque sem sair de casa no terceiro episódio do nosso Tour Turismo Virtual. Visite o Centro de Memória, o Quiosque São João Marcos e demais estruturas que integram o Centro de Visitação.
      </ion-card-content>
    </ion-card>

    <ion-card  href="https://www.youtube.com/watch?v=rWCty8kc46Y" target="_blank">
      <iframe width="100%" height="180" src="https://www.youtube.com/embed/rWCty8kc46Y" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <ion-card-header>
        <ion-card-title>Ep. 04 - Centro de Memória</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Conheça ou revisite o Centro de Memória, espaço que abriga a nossa exposição permanente, maquete, objetos de antigos moradores de São João Marcos, além de achados arqueológicos.
      </ion-card-content>
    </ion-card>

    <ion-card  href="https://www.youtube.com/watch?v=VUHgsNRva8k" target="_blank">
      <iframe width="100%" height="180" src="https://www.youtube.com/embed/VUHgsNRva8k" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <ion-card-header>
        <ion-card-title>Ep. 05 - Sítio arqueológico</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        As ruínas do centro histórico de São João Marcos foram tombadas em 1990 pelo Instituto Estadual do Patrimônio Cultural (Inepac). Conheça melhor o sítio arqueológico.
      </ion-card-content>
    </ion-card>

    <ion-card  href="https://www.youtube.com/watch?v=IPs64sd2D38" target="_blank">
      <iframe width="100%" height="180" src="https://www.youtube.com/embed/IPs64sd2D38" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <ion-card-header>
        <ion-card-title>Ep. 06 - Casa do Capitão Mor e Igreja Matriz</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Informações e imagens das duas ruínas mais emblemáticas do Parque: Casa do Capitão Mor e Igreja Matriz.
      </ion-card-content>
    </ion-card>

    <ion-card  href="https://www.youtube.com/watch?v=t9qHdd7gUI" target="_blank">
      <iframe width="100%" height="180" src="https://www.youtube.com/embed/t9qHdd7gUI" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <ion-card-header>
        <ion-card-title>Ep. 07 - Mirante</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        À beira do reservatório da Represa de Ribeirão das Lajes, o Mirante é um local para contemplar a natureza e relaxar.
      </ion-card-content>
    </ion-card>

    <ion-card  href="https://www.youtube.com/watch?v=L0Ga9iou1wg" target="_blank">
      <iframe width="100%" height="180" src="https://www.youtube.com/embed/L0Ga9iou1wg" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <ion-card-header>
        <ion-card-title>Ep. 08 - Represa</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        As estrelas do episódio são a Represa de Ribeirão das Lajes e águas do reservatório que invadem o Parque em algumas épocas do ano.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
