<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="apresentacao">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inicio">
      <ion-icon name="documents"></ion-icon>
      <ion-label>Conteúdo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contato">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
      <ion-label>Contato</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perguntas-frequentes">
      <ion-icon name="help-circle"></ion-icon>
      <ion-label>Ajuda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
