:host {
  ion-content {
    --background: var(--ion-custom-white) !important;
    --color: var(--ion-custom-blue) !important;

    p{
      text-align: left;
      font-size: 14px;
      line-height: 22px;

      &:first-child{
        margin-top: 0px;
      }
    }

    .lista-colaboradpres{
      display: flex;
      flex-direction: column;

      *{
        width: 100%;
      }

      h4{
        font-size: 16px;
        margin: 20px 0px 0px;
        font-weight: 700;

        &:first-child{
          margin-top: 10px;
        }
      }
    }
  }
}

