<ion-header>
  <ion-toolbar>
    <ion-title>MDA</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>A equipe da Secretaria Municipal de Educação de Rio Claro contou com a colaboração dos profissionais abaixo listados para a produção do material didático de apoio. Ressaltamos que as atividades sugeridas estão alinhadas à  proposta curricular do município.</p>

  <div class="lista-colaboradpres">
    <h4>Adryane Nogueira Alves</h4>
    <small>Edc. Infantil - Creche</small>

    <h4>Alessandra Camilo Da Cruz Romoaldo</h4>
    <small>Edc. Infantil - Pré I e II</small>

    <h4>Deyse Cristine De Oliveira</h4>
    <small>1º Segmento - 1º Ano</small>

    <h4>Mariane De Souza Silva</h4>
    <small>1º Segmento - 2º Ano</small>

    <h4>Andréa Lemos Do Carmo</h4>
    <small>1º Segmento - 3º Ano</small>

    <h4>Wilton Jorge Gonçalves</h4>
    <small>1º Segmento - 4º Ano</small>

    <h4>Regina Dalva Cardoso</h4>
    <small>1º Segmento -5º Ano</small>

    <h4>Teresinha Guido</h4>
    <small>2º Segmento - Português/Produção Textual</small>

    <h4>Simone Cristina de Oliveira Freitas</h4>
    <small>2º Segmento - Matemática/RPM</small>

    <h4>Marcelo Figueredo Da Silva</h4>
    <small>2º Segmento - Inglês</small>

    <h4>Sylvio Vasconcellos Almeida</h4>
    <small>2º Segmento - História</small>

    <h4>Viviane dos Reis Faria</h4>
    <small>2º Segmento - Geografia</small>

    <h4>Janaina Da Silva Dias</h4>
    <small>2º Segmento - Ciências</small>

    <h4>Lucrécia Cristina Sabino Ribeiro</h4>
    <small>2º Segmento - Arte</small>

    <h4>Evelini Patrícia Botelho Correia Reis</h4>
    <small>2º Segmento - Ed. Física</small>

    <h4>Rosemar Alexandrina Meyer</h4>
    <small>2º Segmento - Empreendedorismo</small>

    <h4>Fernanda Lucia Paulino</h4>
    <small>Educação Especial</small>
  </div>
</ion-content>
