<ion-header>
  <ion-toolbar>
    <ion-title>Perguntas Frequentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>COMO FAÇO PARA TER ACESSO AO MATERIAL DIDÁTICO?</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Basta clicar no botão do ano de escolaridade do material que você quer, em seguida, clicar no título do material.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>COMO SABEREI SE MINHAS RESPOSTAS ESTÃO CORRETAS?</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Antes de disponibilizarmos o material novo, vamos ofertar o gabarito com as respostas do material anterior para que você possa conferir.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>SE EU TIVER ALGUMA DÚVIDA COM RELAÇÃO AO MATERIAL, O QUE EU FAÇO?</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Basta clicar na opção <strong>"Contato"</strong> do menu abaixo e registrar sua pergunta. Em até 48h você receberá a resposta no e-mail cadastrado.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>PRECISO IMPRIMIR TODO MATERIAL DA PLATAFORMA?</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Não, a impressão do material é opcional. Caso não seja possível imprimir, você pode olhar as atividades na tela e registrar as respostas no caderno.
        <ul>
          <li>No caso da Educação Infantil, o registro das atividades será através de foto</li>
          <li>Alunos do 1° ano que tiverem acesso ao material impresso podem realizar as atividades nele próprio. Caso contrário, precisarão de ajuda para organizar o caderno.</li>
        </ul>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>PRECISO GUARDAR OS MATERIAIS?</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Sim, no retorno das aulas presenciais você precisará apresentar todo o material feito para validar sua frequência durante esse período em que as aulas estão suspensas.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>NÃO ENCONTREI O MATERIAL INDIVIDUALIZADO DA EDUCAÇÃO ESPECIAL, O QUE FAÇO?</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Na Plataforma, disponibilizaremos apenas o material produzido pela Equipe Técnica do Núcleo de Educação Especial com orientações para as famílias dos alunos com deficiência. O material individualizado, ou seja, único de cada aluno será entregue na versão impressa. Basta que o responsável do aluno compareça à Unidade Escolar nos dias e horário de funcionamento da escola para pegá-lo.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

